<div class="container">
  <h1 class="banner">Stupid Coaching</h1>
<form action="/answer" method="GET">
  <input class="q" type="text" name="question">
  <input class="qb" type="submit" value="Ask!">
</form>
</div>
